%h1 Meeting list

%table.table
  %thead
    %th Date
    %th Status


  %tbody
  - @meetings.each do |meeting|
    %tr
      %td= link_to(meeting.date.to_formatted_s(:long), meeting_path(meeting))
      %td= meeting.status

= link_to "CSV", meetings_path(format: "csv")
