.row
  .span6
    =simple_form_for @meeting, html: { class: 'form-horizontal meeting_form'} do |f|
      %legend Meeting
      =f.input :date
      - @meeting.time_slots.each_with_index do |slot, i|
        %fieldset.time_slot
          %legend Slot #{i + 1}
          =simple_fields_for slot do |s|
            =s.input :starts_at
            =s.input :ends_at
            =s.input :topic_id, as: :hidden
            .topic_title
      =f.submit

  .span6
    %ul
      =render partial: 'topics/simple_topic', collection: @topics, as: 'topic'