%h1= "Most Popular Topics Suggestions #{current_user.new_topic_link}".html_safe
.well Below is a list of topics suggested by members of the Las Vegas Ruby User Group. During our next meetup, we'll pick three to be presented. If you have a topic you'd like to see covered, suggested one!

%table.table
  %tr
    %th Votes
    %th 
    %th Title
    %th 
  =render @topics
  
%br

= current_user.new_topic_link
