$navbarBackgroundHighlight: transparentize(black, 0.3)
$navbarBackgroundHighlight: transparentize(black, 0.3)
$textColor: white
$linkColor: white

$btnPrimaryBackground: #b71f2c

@import twitter/bootstrap


body 
  background-image: url('diagmonds.png')
  margin-top: 100px

footer
  border-top: 1px solid #b71f2c
  padding-top: 20px
  margin-bottom: 80px
  margin-top: 20px

.navbar
  font-size: 15px


.well
  color: black

.table td
  border-top: transparentize(white, 0.85) 1px solid
  background-color: transparentize(#b71f2c, 0.9)

.table th
  border-top: transparentize(white, 0.85) 1px solid
  background-color: transparentize(#b71f2c, 0.75)

@import twitter/bootstrap/responsive
